@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
}
.clr {
  clear: both;
}
/* start  section home  */
#Home {
  background-image: url("img/drew-coffman-1872.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.navbar .nav-logo img {
  width: 200px;
}
.navbar .nav-logo {
  float: left;
}
.navbar {
  padding-block: 30px;
  width: 100%;
  padding: 10px 0;
  background-color: #201f1f60;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar .nav-menuo li {
  display: inline-block;
  padding-inline: 10px;
}
.navbar .nav-menuo li a {
  padding-inline: 10px;
  color: #fff;
}
.navbar .nav-menuo ul {
  float: right;
  list-style: none;
  padding: 10px;
}
.navbar .nav-menuo ul a {
  color: #fdfdfd;
  text-decoration: none;
}
#Home .caption {
  text-align: center;
  color: #fdfdfd;
  padding-top: 200px;
}
#Home .caption span {
  font-size: 22px;
  padding: 10px 0;
}

#Home .caption h1 {
  font-weight: 400;
  font-size: 76px;
  padding: 10px 0;
}
#Home .caption p {
  font-size: 24px;
  padding: 20px 0;
}
#Home .caption .btn1,
#Home .caption .btn2 {
  margin: 10px 10px;
  border: 2px solid #fff;
  padding: 15px 28px;
  color: #fff;
  font-size: 20px;
}
#Home .caption .btn1 {
  background-color: #8e7754;
  transition: 1s;
}
#Home .caption .btn1:hover {
  background-color: #fff;
  color: #303030;
}
#Home .caption .btn2 {
  background-color: transparent;
  transition: 1s;
}
#Home .caption .btn2:hover {
  background-color: #f8f8f8;
  color: #303030;
}

/* end  section home */
/* start section who-we-are */

#who-we .who-we-img {
  width: 40%;
  float: left;
  padding: 80px 80px;
}

#who-we .text1 {
  /* flote:left ; */
  padding: 100px 20px;
  line-height: 30px;
}
#who-we .icon-who {
  height: 60px;
}

#who-we .text1 h2 {
  font-size: 33px;
  color: #303030;
  padding: 20px 40px;
}
#who-we .text1 p {
  font-size: 17px;
  line-height: 31.62px;
}
.icon-who-img img {
  width: 40px;
  margin-right: 10px;
  float: left;
  border: 1px solid rgba(56, 53, 53, 0.575);
  border-radius: 30px 30px;
}
.icon-text p {
  padding-top: 10px;
  padding-left: 20px;
}

/*start section Our Location   */
#our-location {
  background-color: #f8f8f8;
  padding-top: 40px;
}
#our-location .content {
  float: left;
  width: 42%;
  padding: 80px 50px;
}

#our-location .content h2 {
  color: #686868;
}
#our-location .content p {
  line-height: 31.62px;
  font-size: 17px;
}
#our-location .our-location-img {
  float: right;
  width: 40%;
  padding: 50px;
}
/* end section our location  */
/* start our-Blog */
#Our-Baking {
  text-align: center;
  padding: 60px 60px;
  margin: 40px 40px;
}
#Our-Baking h2 {
  padding: 20px;
  font-size: 30px;
  color: #303030;
}
#Our-Baking .tex {
  padding: 20px;
  color: #888888;
  font-size: 17px;
}

.our-Baking-item {
  width: calc(100% / 3);
  float: left;
}
.our-Baking-item p {
  padding: 20px;
  font-size: 17px;
  color: #686868;
  line-height: 31.62px;
}
.our-Baking-item h3 {
  color: #303030;
  font-size: 22px;
  padding: 10px;
}

.our-Baking-item img {
  width: 90%;
}
.our-Baking h2 {
  padding-block: 30px;
}
/* end our-Blog */
/* start contact-information */
#Contact-Information {
  background-color: #f8f8f8;
}
#Contact-Information .Information-img {
  width: 40%;
  float: right;
  padding: 80px 80px;
}
#Contact-Information .text1 {
  padding: 100px 20px 20px;
  line-height: 30px;
}

#Contact-Information .text1 h2 {
  font-size: 33px;
  color: #303030;
  padding: 20px 40px;
}
#Contact-Information .text1 p {
  color: #686868;
  font-size: 17px;
  line-height: 31.62px;
  padding: 10px 20px;
}
#Contact-Information .icon-inf {
  height: 60px;
  padding:0px 20px;
}

#Contact-Information .inf-img {
  width: 40%;
  float: left;
  padding: 80px 80px;
}
.icon-inf-img img {
  width: 40px;
  margin-right: 10px;
  float: left;
  border: 1px solid rgba(56, 53, 53, 0.575);
  border-radius: 30px 30px;
  background-color: #8e7754;
}
.icon-text p {
  padding-top: 10px;
  padding-left: 10px;
}

/* end contact-information */
/* start footer */
#footer {
  background-color: #403d38;
  padding: 50px ;
}
#footer .containar {
  margin: auto;
  color: #777;
}
#footer .containar .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer-col {
  width: 25%;
}
.inner-col {
  padding: 0 10px;
}

.title {
  font-weight: 500;
  padding: 20px 0px;
color: #fff;
  font-size: 20px;
}
.title p{
  font-size:16px;
  line-height:29.76px;
 }
.footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-ul li {
  padding: 10px 5px;
  font-weight: 200;
  border-bottom: 1px solid #dddddd1f;
}
.footer-ul a {
  color: #777;
  text-decoration: none;
}
#footer-bottom {
  background-color: #353330;
  text-align: center;
  padding: 50px;
  color: #777;
}
.link {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #484540;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
}
.link img {
  height: 35px;
}
.text-sm {
  font-size: 14px;
  padding: 8px;
}
/* end footer */